/* General style */
 body {
   background: var(--uiOffWhite);
   margin: 0 !important;
   width:100%;
   overflow-x: hidden;
 }
 
/* The component will reset button browser styles */
.body {
  overflow-x:hidden;
  height: 100vh;
  overflow-y: hidden;
}
.main-content {
  display: none;
}

.r-button{
    --uirButtonBackgroundColor: var(--rButtonBackgroundColor, transparent);
    --uirButtonPadding: var(--rButtonPadding, var(--rButtonPaddingTop, 0) var(--rButtonPaddingRight, 0) var(--rButtonPaddingBottom, 0) var(--rButtonPaddingLeft, 0));
    --uirButtonBorderWidth: var(--rButtonBorderWidth, 0);
    --uirButtonBorderStyle: var(--rButtonBorderStyle, solid);
    --uirButtonBorderColor: var(--rButtonBorderColor, currentColor);
    --uirButtonFontFamily: var(--rButtonFontFamily, inherit);
    --uirButtonFontSize: var(--rButtonFontSize,  inherit);
    --uirButtonColor: var(--rButtonColor);
  
    background-color: var(--uirButtonBackgroundColor);
    padding: var(--uirButtonPadding);
  
    border-width: var(--uirButtonBorderWidth);
    border-style: var(--uirButtonBorderStyle);
    border-color: var(--uirButtonBorderColor);
  
    cursor: pointer;
  
    font-family: var(--uirButtonFontFamily);
    font-size: var(--uirButtonFontSize);
  }
  
  .r-button::-moz-focus-inner,
  .r-button[type="button"]::-moz-focus-inner,
  .r-button[type="reset"]::-moz-focus-inner,
  .r-button[type="submit"]::-moz-focus-inner {
    
    /* Remove the inner border and padding in Firefox. */
    
    border-style: none;
    padding: 0;
  }
  
  /* The component will reset browser's styles of link */
  
  .r-link{
      --uirLinkDisplay: var(--rLinkDisplay, inline-flex);
      --uirLinkTextColor: var(--rLinkTextColor);
      --uirLinkTextDecoration: var(--rLinkTextDecoration, none);
  
      display: var(--uirLinkDisplay) !important;
      color: var(--uirLinkTextColor) !important;
      text-decoration: var(--uirLinkTextDecoration) !important;
  }
  
  /* The component will reset browser's styles of list */
  
  .r-list{
      --uirListPaddingLeft: var(--rListPaddingLeft, 0);
      --uirListMarginTop: var(--rListMarginTop, 0);
      --uirListMarginBottom: var(--rListMarginBottom, 0);
      --uirListListStyle: var(--rListListStyle, none);
  
      padding-left: var(--uirListPaddingLeft) !important;
      margin-top: var(--uirListMarginTop) !important;
      margin-bottom: var(--uirListMarginBottom) !important;
      list-style: var(--uirListListStyle) !important;
  }
  
  /* Basic styles of the hamburger component */
  
  .m-hamburger{
    --uiHamburgerDisplay: var(--hamburgerDisplay, inline-flex);
    --uiHamburgerWidth: var(--hamburgerWidth, 28px);
    --uiHamburgerHeight: var(--hamburgerHeight, 20px);
    --uiHamburgerThickness: var(--hamburgerThickness, 4px);
    --uiHamburgerBorderRadius: var(--hamburgerBorderRadius, 5px);
    --uiHamburgerBgColor: var(--hamburgerBgColor, currentColor);
  
    display: var(--uiHamburgerDisplay);
    width: var(--uiHamburgerWidth);
    height: var(--uiHamburgerHeight);
  
    position: relative;
    text-indent: -9999px;
  }
  
  .m-hamburger::before, 
  .m-hamburger::after, 
  .m-hamburger__label{
    width: 100%;
    height: var(--uiHamburgerThickness);
    border-radius: var(--uiHamburgerBorderRadius);
    background-color: var(--uiHamburgerBgColor);
  
    position: absolute;
    left: 0;
  }
  
  .m-hamburger::before, 
  .m-hamburger::after{
    content:"";
  }
  
  .m-hamburger::before{
    top: 0;
  }
  
  .m-hamburger::after{
    bottom: 0;
  }
  
  .m-hamburger__label{
    /* The calculation of middle hamburger button line position */
    
    top: calc(50% - calc(var(--uiHamburgerThickness) / 2));
  }
  
  /*
  =====
  MENU STYLES
  =====
  */
  
  .menu{
    --uiMenuCircleSize: var(--menuCircleSize, 100px);
    --uiMenuCircleOffset: var(--menuCircleOffset, 10px);
    --uiMenuCircleBgColor: var(--menuCircleBgColor, currentColor);
  
    --hamburgerWidth: var(--menuHamburgerWidth, 28px);
    --hamburgerHeight: var(--menuHamburgerHeight, 20px);
    --hamburgerBgColor: var(--menuHamburgerBgColor, #fff);
  
    box-sizing: border-box;
    width: 100%;
  
    display: flex;
    flex-direction: column;
    align-items: center;  
  
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 9998;
  }
  
  .menu__nav{
    box-sizing: border-box;
    width: 100%;
    height: 0;
  
    transition: opacity .2s ease-out;
    opacity: 0;
  
    display: flex;
    align-items: flex-end;
    z-index: 2;
  }
  
  .menu__list{
    width: 100%;
    max-height: 100%;
    display: none;
  
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
  }
  
  .menu__toggle{
    box-sizing: border-box;
    width: var(--uiMenuCircleSize);
    height: calc(var(--uiMenuCircleSize) / 2);
    padding: var(--uiMenuCircleOffset);
  
    flex: none;
  
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: center;
  }
  
  .menu__toggle::before{
    /*
    1. The font-size property is used to simplify calculations of the element's sizes and position
    2. The negative value for the bottom property need for hiding half of circle. 
    */
  
    content: "";
    width: 1em;
    height: 1em;
    font-size: var(--uiMenuCircleSize); /* 1 */
  
    background-color: var(--uiMenuCircleBgColor);
    border-radius: 50%;
  
    position: absolute;
    bottom: -.5em; /* 2 */
    left: calc(50% - .5em);
  
    will-change: width, height;
    transition: transform .25s cubic-bezier(0.04, -0.1, 0.29, 0.98),
      width .25s cubic-bezier(0.04, -0.1, 0.29, 0.98),
      height .25s cubic-bezier(0.04, -0.1, 0.29, 0.98);
  }
  
  .menu__hamburger::before{
    /* Increase of click button area   */
  
    content: "";
    width: 100%;
    height: 100%;
  
    position: absolute;
    top: 0;
    left: 0;
  }
  
  /* styles of hamburger's animation */
  
  .m-hamburger::before, 
  .m-hamburger::after, 
  .m-hamburger__label{
    transition-timing-function: ease;
    transition-duration: .15s;  
  }
  
  .m-hamburger::before, 
  .m-hamburger::after{
    transition-property: transform;
  }
  
  .m-hamburger__label{
    transition-property: transform, opacity;
  }
  
  /*
  =====
  MENU STATES
  =====
  */
  
  .menu__hamburger:focus{
    outline: none;
  }
  
  .menu_activated{
    height: 100%;
  }
  
  .menu_activated .menu__nav{
    height: 100%;
    opacity: 1;
  
    will-change: opacity;
    transition-duration: .2s;
    transition-delay: .3s;
  }
  
  .menu_activated .menu__toggle::before{
    width: 100vmax;
    height: 100vmax;
    transform: translate3d(-50vh, -50vh, 0) scale(5);
    transition-duration: 1s;
  }
  
  .menu_activated .menu__list{
    display: block;
  }
  
  .menu_activated .m-hamburger::before{
    top: 50%;
    transform: translate3d(0, -50%, 0) rotate(45deg);
  }
  
  .menu_activated .m-hamburger::after{
    transform: translate3d(0, -50%, 0) rotate(135deg);
    top: 50%;
  }
  
  .menu_activated .m-hamburger__label{
    transform: rotate(-45deg) translate3d(-.285em,-.3em, 0);
    opacity: 0;
  }
  

  /* button style */
  button.main-btn {
    z-index: 1;
    position: relative;
    font-size: inherit;
    font-family: inherit;
    color: white;
    padding: 0.5em 1em;
    outline: none;
    border: none;
    background-color: hsl(236, 32%, 26%);
    overflow: hidden;
    transition: color 0.4s ease-in-out;
    border-radius: 8px;
  }
  
  button::before {
    content: '';
    z-index: -1;
    position: absolute;
    top: 100%;
    right: 100%;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    background-color: #3cefff;
    transform-origin: center;
    transform: translate3d(50%, -50%, 0) scale3d(0, 0, 0);
    transition: transform 0.45s ease-in-out;
  }
  
  .main-btn:hover {
    cursor: pointer;
    color: #161616;
  }
  
  .main-btn:hover::before {
    transform: translate3d(50%, -50%, 0) scale3d(15, 15, 15);
  }

  /*
  =====
  SETTINGS
  =====
  */
  
  :root{
    --colorWhite: #fff;
    --colorMain: #18412f;
    --rLinkTextColor: var(--colorMain);
    --menuCircleSize: 100px;
    --menuCircleBgColor: var(--colorMain);
    --menuHamburgerWidth: 28px;
    --menuHamburgerHeight: 20px;
    --menuHamburgerBgColor: var(--colorWhite);
    --uiYellow: #f1d52b;
    --uiBlue: #305fb7;
    --uiPurplePink: #ab337f;
    --uiLightGrey: #45404d;
    --uiOffWhite: #ece7e3;
  }
  
  /*
  =====
  DEMO
  =====
  */
/*   
  @media (min-width: 768px){
  
    html{
      font-size: 62.5%;
    }
  }
   */
 
  
  header {
    position: relative;
    display: flex;
    height: 100vh;
    width: 100%;
    margin: 0;  
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Open Sans, Ubuntu, Fira Sans, Helvetica Neue, sans-serif;
    font-size: 1.6rem;
    background-color:#0D1B2B !important ;
     background: url(../assets/img/bg.png);
     background-attachment: fixed;
     overflow-x: hidden;
    /* //width:100%;  */
  }

  .page h1 {
    color: #fff;
    margin: 0;
  }

  
  
  .page{
    max-width: 380px;
    padding: 10px;
    margin: auto;  
    text-align: center;
  }
  
  .page__name{
    display: block;
    font-size: 3rem;
    font-weight: 700;
  }
  
  .page__hint{
    display: block;
    line-height: 1.45;
    margin-top: 1rem;
  }
  
  .menu__group{
    --rLinkTextColor: var(--colorWhite);
  
    padding: .5rem 3rem; 
    font-size: 3.2rem;
    font-weight: 700;
    text-transform: uppercase;
  }
  
  /* 
  Patreon
  */
  
  .patreon{
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    /* border-top: 4px solid var(--uiYellow);
    border-bottom: 4px solid var(--uiPurplePink); */
    text-align: center;
    background-color: #fff;
    /* border-radius: 100px; */
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .patreon__container{
    padding-left: 10px;
    padding-right: 10px;
  }
  
  .patreon__link{
    text-decoration: underline;
    color: #ff4242;
  }

  .social-links i {
    font-size: 1.5em !important;
    padding:0 5px;
  }
  .facebook {
    color:#3b5998;
  }
  .instagram {
    color:#c13584
  }
  .twitter {
    color:#1da1f2;
  }


  /* Loader */
 
  .loader {
    background: var(--uiPurplePink);
    width: 100%;
    height: 100vh;
    z-index: 1000;
    transition: ease-out 5s;
  }
  .hide {
    display: none;
  }


  .frame {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    height: 400px;
    margin-top: -200px;
    margin-left: -200px;
    border-radius: 2px;
    background: var(--uiPurplePink);
    color: var(--colorMain);
  
  }
  
  .center {
    position: absolute;
    width: 220px;
    height: 220px;
    top: 90px;
    left: 90px;
  }
  
  .dot-1 {
    position: absolute;
    z-index: 3;
    width: 30px;
    height: 30px;
    top: 95px;
    left: 95px;
    background: #fff;
    border-radius: 50%;
    -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
    -webkit-animation: jump-jump-1 2s cubic-bezier(0.21, 0.98, 0.6, 0.99) infinite alternate;
            animation: jump-jump-1 2s cubic-bezier(0.21, 0.98, 0.6, 0.99) infinite alternate;
  }
  
  .dot-2 {
    position: absolute;
    z-index: 2;
    width: 60px;
    height: 60px;
    top: 80px;
    left: 80px;
    background: #fff;
    border-radius: 50%;
    -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
    -webkit-animation: jump-jump-2 2s cubic-bezier(0.21, 0.98, 0.6, 0.99) infinite alternate;
            animation: jump-jump-2 2s cubic-bezier(0.21, 0.98, 0.6, 0.99) infinite alternate;
  }
  
  .dot-3 {
    position: absolute;
    z-index: 1;
    width: 90px;
    height: 90px;
    top: 65px;
    left: 65px;
    background: #fff;
    border-radius: 50%;
    -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
    -webkit-animation: jump-jump-3 2s cubic-bezier(0.21, 0.98, 0.6, 0.99) infinite alternate;
            animation: jump-jump-3 2s cubic-bezier(0.21, 0.98, 0.6, 0.99) infinite alternate;
  }
  
  @-webkit-keyframes jump-jump-1 {
    0%, 70% {
      box-shadow: 2px 2px 3px 2px rgba(0, 0, 0, 0.2);
      -webkit-transform: scale(0);
              transform: scale(0);
    }
    100% {
      box-shadow: 10px 10px 15px 0 rgba(0, 0, 0, 0.3);
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
  
  @keyframes jump-jump-1 {
    0%, 70% {
      box-shadow: 2px 2px 3px 2px rgba(0, 0, 0, 0.2);
      -webkit-transform: scale(0);
              transform: scale(0);
    }
    100% {
      box-shadow: 10px 10px 15px 0 rgba(0, 0, 0, 0.3);
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
  @-webkit-keyframes jump-jump-2 {
    0%, 40% {
      box-shadow: 2px 2px 3px 2px rgba(0, 0, 0, 0.2);
      -webkit-transform: scale(0);
              transform: scale(0);
    }
    100% {
      box-shadow: 10px 10px 15px 0 rgba(0, 0, 0, 0.3);
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
  @keyframes jump-jump-2 {
    0%, 40% {
      box-shadow: 2px 2px 3px 2px rgba(0, 0, 0, 0.2);
      -webkit-transform: scale(0);
              transform: scale(0);
    }
    100% {
      box-shadow: 10px 10px 15px 0 rgba(0, 0, 0, 0.3);
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
  @-webkit-keyframes jump-jump-3 {
    0%, 10% {
      box-shadow: 2px 2px 3px 2px rgba(0, 0, 0, 0.2);
      -webkit-transform: scale(0);
              transform: scale(0);
    }
    100% {
      box-shadow: 10px 10px 15px 0 rgba(0, 0, 0, 0.3);
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
  @keyframes jump-jump-3 {
    0%, 10% {
      box-shadow: 2px 2px 3px 2px rgba(0, 0, 0, 0.2);
      -webkit-transform: scale(0);
              transform: scale(0);
    }
    100% {
      box-shadow: 10px 10px 15px 0 rgba(0, 0, 0, 0.3);
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
   
/* SECTION HEADER */
.section__header {
  width:100%;
  background: var(--uiOffWhite) !important;
  text-align: center;
  padding: 30px 10px;
}
.section__title {
  font-size:2em !important;
}

  /* Sliders */

  @import url('https://fonts.googleapis.com/css?family=Roboto');
  .slider_content {
    background: #0D1B2B;
    font-family: roboto;
  }


/* .slider_content {background-color: #0D1B2B; overflow-x: hidden;  -webkit-font-smoothing: antialiased; margin: 0;} */
.flex { display: -webkit-flex; display: flex; -webkit-flex-direction: row;  flex-direction: row; -webkit-justify-content: flex-start; justify-content: flex-start;}

.slider-wrapper div {
  position: relative;
}
.slider-wrapper {margin-top: 5vw;  margin-left: 11vw;}
.slide-image {height: 24vw;}
.slide-image img {height: 24vw; width: 24vw; cursor: pointer;}
.slide-content {width: 25vw; color: #fff; padding:3vw 18vw 3vw 9vw;}
.slide-date {color: #0a8acb; font-size: 1.1vw; font-weight: 400; letter-spacing: 0.1vw; padding-bottom: 1.4vw;}
.slide-title {font-size: 1.2vw; font-weight: 400; letter-spacing: 0.1vw; line-height: 1.55vw; padding-bottom: 1.8vw;}
.slide-text {font-size: 0.80vw; line-height: 1.2vw; opacity: 0.8; padding-bottom: 4vw;}
.slide-more {font-weight: 400; letter-spacing: 0.1vw; float: left; font-size: 0.9vw;}
.slide-bullet {width: 0.5vw; height: 0.5vw; background-color: #0b8bcc; border-radius: 200%; position: relative; margin-left: 1.2vw;}
.slide-nav {margin-left: 64vw; margin-top: -5.5vw;}

div.overlay-blue {width: 100%; height: 100%; position: absolute; top: 0; transition: 0.5s ease all;}
div.overlay-blue:hover {background-color: rgba(13, 27, 43, 0.5);}

.arrows{width: 3.5vw; margin-top: -5.8vw; margin-left: 72vw; position: relative;}
.arrow {display: inline-block; position: absolute; width: 1.2vw; height: 1.2vw; background: transparent; text-indent: -9999px; border-top: 0.15vw solid #fff; border-left: 0.15vw solid #fff; transition: all .1s ease-in-out; text-decoration: none; color: transparent;
}
.arrow:hover {border-color: #0A8ACB; border-width: 0.25vw;
}
.arrow:before {display: block; height: 200%; width: 200%; margin-left: -50%; margin-top: -50%; content: ""; transform: rotate(45deg);}
.arrow.prev {transform: rotate(-45deg); left: 0;}
.arrow.next {transform: rotate(135deg); right: 0;}



.container {
  width: 80%;
  min-height: 50px;
  background: var(--uiOffWhite);
  margin: 0 auto;
  display: grid !important;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 30px;
}

.container .box {
  position: relative;
  width: 100%;
  height: 300px;
  box-sizing: border-box;
  background: var(--uiOffWhite);
  border-radius: 15px;

}
.container .box:hover {
  position: relative;
  width: 100%;
  height: 300px;
  box-sizing: border-box;
  box-shadow: 0 10px 15px rgba(0,0,0, 0.5);
}

.class_img {
  width: 100%;
  height: 300px;
}

.container .box .imgBox {
  position: relative;
  overflow:hidden;
  border-radius: 15px;
}
.container .box .imgBox img {
   width:100%;
   transition: transform 2s;
}
.container .box:hover .imgBox img {
   max-width:100%;
   transition: transform 2s;
   transform: scale(1.2);
}

.container .box .details {
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  color: #fff;
  background:rgba(0, 0,0,0.8);
  transform: scaleY(0);
  transition: transform .5s;
}
.container .box:hover .details {
  transform: scaleY(1);
}

.container .box .details .content {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  padding: 15px;
}

.container .box .details .content h2{
  margin: 0;
  padding: 0;
  font-size: 20px;
  color: var(--uiYellow);
}
.container .box .details .content p{
  margin: 10px 0 0;
  padding: 0;
  font-size: 16px ;
}


@media (max-width: 767px){
  
  html{
    font-size: 50%;
  }

  button{
    font-size: 1.5em  !important;
  }

  .container {
    /* width: 100%; */
    min-height: 50px;
    margin: 0 auto;
    grid-template-columns: 1fr;
    grid-gap: 30px;
  }

  .slider_content {
    display: none;
  }
}


